* {
    all: unset;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    color: #D0D2CA;
}

window#waybar {
    background-color: #212732;
    font-weight: 600;
    border-radius: 10px;
}

#custom-pyicon {
    margin-left: 20px;
    font-size: 20px;
}
#custom-poweroff {
    margin-right: 20px;
}

#workspaces {
    padding: 5px 0;
}
#workspaces button {
    padding: 0 18px;
    border-radius: 5px;
}

#workspaces button label {
    transition: all ease 200ms;
}

#workspaces button:hover {
    background-color: #6991b5;
}

#workspaces button.active {
    background-color: #6991b5;
}

tooltip {
    background-color:#6991b5;
}
