* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #D0D2CA;
}
window#waybar {
    background-color: #1E2021;
    font-weight: 600;
}

#clock {
    margin-right: 10px;
}


#workspaces button {
    padding: 0px 18px;
}

#workspaces button label {
    transition: all ease 200ms;
}

#workspaces button:hover {
    background-color: #D45D10;
}

#workspaces button.active {
    background-color: #D45D10;
}

tooltip {
    background-color:#D45D10;
}
