* {
    all:unset;
    font-family: JetBrainsMono Nerd Font;
    color: #D0D2CA;
}

window {
    border-radius: 10px;
    background-color: #3e4655;
}

#outer-box {
    padding: 10px;
}
#input {
    border: 2px solid #bd9878;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
#inner-box #entry {
    margin-top: 10px;
    border-radius: 5px;
}
#entry:selected {
    padding: 5px;
    background-color: #bd9878;
}